-r lhpe/requirements.txt
argparse
ffmpeg
gradio
imageio
imageio-ffmpeg
matplotlib
matplotlib
opencv-python         # cv2
Pillow                # PIL
PyOpenGL
pyyaml # yaml
scikit-image==0.18.3  #skimage
scipy
# -r pifuhd/requirements.txt
torch
torchvision
tqdm
trimesh
wget
wheel
