wheel
wget
gdown
matplotlib
-r lhpe/requirements.txt
# -r pifuhd/requirements.txt
torch
torchvision
Pillow                # PIL
scikit-image==0.18.3  #skimage
tqdm
opencv-python         # cv2
trimesh
PyOpenGL
ffmpeg
# -r GFM/requirements.txt
Pillow==8.0.0
